[Desktop Entry]
Categories=Game;
Name=PineconeMC
Comment=The fork of Prism Launcher with integrated support for Ely.by accounts (Earlier ElyPrismLauncher)
Exec=pineconemc-desktop
Icon=pineconemc-desktop
Type=Application
Terminal=false
